In [1]:
import re
import nltk
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('Train.csv', sep=',')

In [3]:
train_data.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [4]:
def split(data):
    html_pat = re.compile('<.*?>')
    punctuation_pat = re.compile('["?!#$%&\'()*+,-./:;<=>@[\\]^_`{|}~ ]')
    
    sentences = []
    
    for i, text in enumerate(data['text']):
        filtered_text = html_pat.sub('', text)
        words = list(filter(lambda x:x!='', punctuation_pat.split(filtered_text)))
        sentences.append(words)
        
    return sentences

In [5]:
train = split(train_data)

In [6]:
print(train[0])

['I', 'grew', 'up', 'b', '1965', 'watching', 'and', 'loving', 'the', 'Thunderbirds', 'All', 'my', 'mates', 'at', 'school', 'watched', 'We', 'played', 'Thunderbirds', 'before', 'school', 'during', 'lunch', 'and', 'after', 'school', 'We', 'all', 'wanted', 'to', 'be', 'Virgil', 'or', 'Scott', 'No', 'one', 'wanted', 'to', 'be', 'Alan', 'Counting', 'down', 'from', '5', 'became', 'an', 'art', 'form', 'I', 'took', 'my', 'children', 'to', 'see', 'the', 'movie', 'hoping', 'they', 'would', 'get', 'a', 'glimpse', 'of', 'what', 'I', 'loved', 'as', 'a', 'child', 'How', 'bitterly', 'disappointing', 'The', 'only', 'high', 'point', 'was', 'the', 'snappy', 'theme', 'tune', 'Not', 'that', 'it', 'could', 'compare', 'with', 'the', 'original', 'score', 'of', 'the', 'Thunderbirds', 'Thankfully', 'early', 'Saturday', 'mornings', 'one', 'television', 'channel', 'still', 'plays', 'reruns', 'of', 'the', 'series', 'Gerry', 'Anderson', 'and', 'his', 'wife', 'created', 'Jonatha', 'Frakes', 'should', 'hand', 'in', 'his', 'directors', 'chair', 'his', 'version', 'was', 'completely', 'hopeless', 'A', 'waste', 'of', 'film', 'Utter', 'rubbish', 'A', 'CGI', 'remake', 'may', 'be', 'acceptable', 'but', 'replacing', 'marionettes', 'with', 'Homo', 'sapiens', 'subsp', 'sapiens', 'was', 'a', 'huge', 'error', 'of', 'judgment']

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
text     40000 non-null object
label    40000 non-null int64
dtypes: int64(1), object(1)
memory usage: 625.1+ KB